node_modules/
dist/
chatgpt-export/
*.log
.env
.DS_Store
.claude
bun.lock
bun.lockb
aur/src/
aur/pkg/
aur/*.pkg.tar*

data

# AI agents local directories
.chatgpt/
.claude/
.cursor/
.deepseek/
.gemini/
.google/
.groq/
.huggingface/
.mistral/
.neuron/
.openai/
.openrouter/
.perplexity/
